<%= render "shared/headers" %>

<main>
  <%= form_with model: @tweet, local: true do |f| %>
    <%= f.file_field :image %>
    <%= f.text_field :tweet_name, placeholder:"タイトル" %>
    <%= f.text_field :tweet_text, placeholder:"説明" %>
    <%= f.submit "投稿する" %>
  <% end %>
</main>

<%= render "shared/footers" %>