<%= render "shared/header" %>
<main>

  <%# 画面上部のタイトル部分 %>
  <section class="description-contents">
    <div class="description-image-contents">
      <div class="description-image">食を繫ぐコミニュケーション。</div>
    </div>
    <h1>FOOD LINKERとは。</h1>
    <div class="description-content">
      <p>
     「FOOD LINKER」は、飲食業で働く料理人・サービスマン、あるいはそれを志す学生など、食に携わるプロフェッショナルのためのプラットフォームです。
      食を繫ぐコミニュケーションをテーマにFOOD LINKERを通して、自身のアイデアや料理をシェアしたり、他のプロフェッショナルたちと交流することができます。
      料理人やシェフ、パティシエ、ソムリエなど、世界の飲食のプロフェッショナルたちとのネットワークを広げ、新たな視点を見つけることで、あなたの仕事はもっと価値あるものになるでしょう。
      このプラットフォームが、料理人をはじめとした「人」に焦点を当て、コミュニティを形成することで、飲食業界に新たな広がりを創るきっかけになるのではと考えています。
      さあ、あなたも食を繋いでリンクしてみませんか？
      </p>
    </div>

    <div class="can-contents">
      <div class="can-image-contents">
        <div class="can-image"></div>
      </div>
      <div class="can-content">
        <h2>このFOOD LINKERにて</h2>
        <p>
        料理人やシェフ、パティシエ、ソムリエたちが各々の料理やデザートを持ち寄り、それを見た人たちの気持ちが少しでも動いたのなら
        それはすごく素敵な事だと思います。そんな繋がりの重なりを大事にしたいと思っていて、カタチにできないかと思いました。
        </p>
        <p>
        FOOD LINKERでは料理やデザート、ワインなどをきっかけとして、あなたの想いを繋げる事ができればと思います。
        そこから広がる更なる繋がりを見つけて見ましょう！
        </p>
      </div>
    </div>
  </section>
  <%# 画面上部のタイトル部分 %>

  <%# 投稿の一覧表示部分 %>
  <section class="tweet-contents">
    <div class="tweet-menu">
      <h1 id="tweet-contents">一覧表示</h1>
      <div>
        <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    </div>
    <ul class='tweet-lists'>
      <% @tweets.each do |tweet| %>
        <li class='list'>
        <%= link_to tweet_path(tweet.id) do %>
          <div class='tweet-img-content'>
            <%= image_tag tweet.image, class: "tweet-img" %>
          </div>
          <h2 class=''>
          </h2>
        <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <%# 投稿の一覧表示部分 %>

  <%# 料理人の紹介部分 %>
  <section class="chef-contents">
    <%# <h1>料理人紹介</h1> %>
  </section>
  <%# 料理人の紹介部分 %>

</main>
<%= render "shared/footer" %>
<div id= "my-spinner" class="box">
  <div class="spinner type1">
    <span>Loading...</span>
  </div>
</div>