<%= render "shared/headers" %>

<main>
  <%# 投稿の概要 %>
  <section class="tweet-show">
    <div class="tweet-show-contents">
      <%= image_tag @tweet.image, class:"tweet-box-img" %>
      <div class="tweet-content">
        <h1>
          <%= @tweet.tweet_name %>
        </h1>
        <p>
          <%= @tweet.tweet_text %>
        </p>
        <div class="tweet-option">
        <% if admin_signed_in? && current_admin.id == @tweet.admin_id %>
          <div><%= link_to '編集', edit_tweet_path(@tweet.id), method: :get, class: "tweet-update" %></div>
          <div><%= link_to '削除', tweet_path(@tweet.id), method: :delete, class: "tweet-delete" %></div>
        <% else %>
          <div>いいね</div>
          <div></div>
        <% end %>
        </div>
        <div class="tweet-admin">
          <div class="tweet-admin-name">投稿者：　
            <%=  @tweet.admin.l_name %><%=  @tweet.admin.f_name %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# 投稿の概要 %>

  <%# コメント部分 %>
  <section>
    <div class="tweet-comment">
      <h1>コメント一覧</h1>
      <ul class="tweet-comments">
        <% @comments.each do |comment| %>
          <div class="tweet-comment-text">
            <li class="comment-user">
              <%= comment.user.nickname %>
            </li>
            <li class="comment-text">:
              <%= comment.comment_text %>
            </li>
          </div>
        <% end %>
      </ul>
      <div class="comment-send">
        <%= form_with(model: [@tweet, @comment],local: true) do |f| %>
          <%= f.text_area :comment_text, placeholder: "コメントする", class: "comment-text_area" %>
          <%= f.submit "送信", class: "comment-send-btn" %>
        <% end %>
      </div>
    </div>
  </section>
  <%# コメント部分 %>
</main>

<%= render "shared/footers" %>