<footer class="page-footer">
  <nav class="footer-menu">
    <ul>
    <% if admin_signed_in? %>
      <li><%= link_to current_admin.l_name, "#" %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "料理人の新規登録", new_admin_registration_path %></li>
      <li><%= link_to "料理人のログイン", new_admin_session_path %></li>
    <% end %>
      <li><a href="">お問い合わせ</a></li>
      <li><%= link_to "投稿する", new_tweet_path %></li>
    </ul>
  </nav>
  <div class="footer-title">
    FOOD LINKER
  </div>
  <div class="copyright">
    Copyright(C) 2020  FOOD LINKER  All Rights Researved.
  </div>
</footer>