<%= render "shared/headers" %>

<main class="user-registrations-new">
  <h1>ユーザー登録</h1>

  <%= form_with model: @user, url: user_registration_path,local: true do |f| %>
    <%#= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ニックネーム %>
      <em>(必須)</em><br />
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %>
      <em>(必須)</em><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(必須　<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
</main>

<%= render "shared/footers" %>